<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BwModelica-Black.otf</string>
		<string>BwModelica-BlackItalic.otf</string>
		<string>BwModelica-Bold.otf</string>
		<string>BwModelica-BoldItalic.otf</string>
		<string>BwModelica-ExtraBold.otf</string>
		<string>BwModelica-ExtraBoldItalic.otf</string>
		<string>BwModelica-Hairline.otf</string>
		<string>BwModelica-HairlineItalic.otf</string>
		<string>BwModelica-Light.otf</string>
		<string>BwModelica-LightItalic.otf</string>
		<string>BwModelica-Medium.otf</string>
		<string>BwModelica-MediumItalic.otf</string>
		<string>BwModelica-Regular.otf</string>
		<string>BwModelica-RegularItalic.otf</string>
		<string>BwModelica-Thin.otf</string>
		<string>BwModelica-ThinItalic.otf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-MediumItalic.ttf</string>
		<string>IBMPlexSans-Regular.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSans-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
